* {
    margin: 5%;
    padding: 0%;
    box-sizing: border-box;

}

img {
    height: 425px;
    display: flex;
    border: 1px solid #ccc;
    /* Define uma borda */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.3);
    /* Adiciona sombra */
    border-radius: 8px;
    /* Arredonda os cantos */
    background: linear-gradient(to right, rgb(135, 64, 64), rgb(237, 115, 22), rgb(239, 126, 51), rgb(255, 132, 0));

}

fieldset {
    border: 1px solid #ccc;
    /* Define uma borda */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.3);
    /* Adiciona sombra */
    border-radius: 8px;
    /* Arredonda os cantos */
    width: ;

}